{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="box-element">

        <!-- Page heading; "Cart" -->
        <div class="row ml-1 mr-1">
            <div class="col-12 text-center mt-4 mb-3">
                <button class="btn btn-light rounded-0 float-left" onclick="goBack()"><i
                        class="fas fa-chevron-left mr-2"></i>
                    Back</button>
                <h5><i class="fas fa-shopping-cart"></i> Shopping Cart</h5>
            </div>
        </div>

        <!-- Cart items table -->
        {% if cart_items %}
        <div class="table-responsive rounded">
            <table class="table table-sm table-borderless table-striped">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th scope="col d-sm-none"></th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col mr-2">Subtotal</th>
                    </tr>
                </thead>

                <!-- render a table row for each cart item -->
                {% for item in cart_items %}
                <tr>
                    <td class="p-3 w-25 mr-0 ml-0">
                        <img class="img-fluid rounded cart-item-image .d-none .d-sm-block" src="{{ item.product.image.url }}">
                    </td>
                    <td class="py-3">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">
                            €{{ item.product.price }}
                        </p>
                    </td>
                    <td class="py-3 w-25">
                        <p class="my-0 ml-3">{{ item.quantity }}</p>
                    </td>
                    <td class="py-3">
                        <p class="my-0">€ {{ item.product.price }}</p>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" class="pt-5 text-right">
                        <h6><strong>cart Total: € {{ total|floatformat:2 }}</strong></h6>
                        <h6>Delivery: € {{ delivery|floatformat:2 }}</h6>
                        <h4>
                            <span class="text-muted">Total: </span><strong>€ {{ grand_total|floatformat:2 }}</strong>
                        </h4>
                        {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            You could get free delivery by spending just <strong>€ {{ free_delivery_delta }}</strong>
                            more!
                        </p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right">
                        <button class="btn btn-light rounded-0 text-uppercase" onclick="goBack()"><i
                                class="fas fa-chevron-left mr-2"></i>
                            Keep Shopping</button>
                        <button class="btn btn-success rounded-0 text-uppercase px-5">
                            Check Out <i class="ml-2 fas fa-chevron-circle-right"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        </table>
    </div>
    {% else %}
    <div class="row">
        <div class="col text-center text-muted mt-5 mb-5">
            Your shopping cart is empty.
        </div>
    </div>
    {% endif %}
</div>
</div>

{% endblock %}