{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<!-- "Back" button (calls browser back function) -->
<div class="row">
    <button class="ml-4 btn btn-light rounded-0 float-left" onclick="goBack()"><i class="fas fa-chevron-left mr-2"></i>
        Back</button>
</div>

<h3>{% trans "Confirm Email Address" %}</h3>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
        href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
</p>

<form class="w-50 ml-auto mr-auto" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button class="btn btn-info" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new
        e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}