{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>TechZone {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- Message container for Django messages -->
    <header class="container-fluid fixed-top">
        <div class="message-container">
            {% if messages %}

            {% endif %}
        </div>
    </header>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">

        <!-- Site logo -->
        <a class="navbar-brand ml-3" href="{% url 'home' %}">
            <img src="{% static 'images/nav-logo.png' %}" class="nav-logo" alt="TechZone Logo">
        </a>

        <!-- Nav Toggler on mobile devices -->
        <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-chevron-down hvr-sink" id="navbar-open-icon"></i>
            <i class="fas fa-chevron-up hvr-float hidden" id="navbar-close-icon"></i>
        </button>

        <!-- Mobile Nav is collapsible using Toggler -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                                <!-- cart total -->
                                <li>
                                    <a href="" id=" cart-total" class="btn btn-secondary mr-5">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span>
                                            {% if grand_total %}
                                            € {{ grand_total|floatformat:2 }}
                                            {% else %}
                                            € 0.00
                                            {% endif %}
                                        </span>
                                    </a>
                                </li>
                
                <!-- Login dropdown -->

                <!-- If user is logged in, show username as dropdown button text-->
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-dark rounded-0 dropdown-toggle mr-3" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i> {{ user }}
                    </button>

                    <!-- If user is superuser (admin), show links to Manage Products page and Django Admin panel -->
                    <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="dropdownMenuButton">
                        {% if user.is_superuser %}
                        <a class="dropdown-item" href="#"><i class="fas fa-list-alt mr-1"></i> Manage Products</a>
                        <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-tools mr-1"></i> Django Admin</a>
                        <hr class="w-75">

                        <!-- Else, user is customer; show link to My Account page -->
                        {% else %}
                        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt mr-1"></i> My Account</a>
                        {% endif %}

                        <!-- Finally, show Log Out button to all users -->
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                                class="fas fa-sign-in-alt mr-1"></i> Log Out </a>
                    </div>
                </div>

                <!-- If user is not logged-in, show Log In and Register Buttons -->
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-dark rounded-0 mr-5 p-1">Log in <i
                        class="fas fa-sign-in-alt"></i></a>
                <a href="{% url 'account_signup' %}" class="btn btn-dark rounded-0 mr-5 p-1">Register <i
                        class="fas fa-pencil-alt"></i></a>
                {% endif %}

            </ul>
        </div>
    </nav>

    <!-- Product Categories -->
    <div class="row bg-black justify-content-center">
        <a class="text-uppercase mr-5" href="{% url 'products' %}">All Products</a>
        <a class="text-uppercase mr-5" href="{% url 'products' %}?category=Laptops">Laptops</a>
        <a class="text-uppercase mr-5" href="{% url 'products' %}?category=Phones">Phones</a>
        <a class="text-uppercase mr-5" href="{% url 'products' %}?category=Tablets">Tablets</a>
    </div>


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>

</html>