{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>TechZone {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div class="message-container">
            {% if messages %}

            {% endif %}
        </div>
    </header>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">

        <!-- Site logo -->
        <a class="navbar-brand ml-3" href="{% url 'home' %}">
            <img src="{% static 'images/nav-logo.png' %}" class="nav-logo" alt="TechZone Logo">
        </a>

        <!-- Search input -->
        <div class="col-4 col-sm-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search products">
                    <div class="input-group-append">
                        <button class="form-control btn btn-success rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Nav Toggler on mobile devices -->
        <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-chevron-down hvr-sink" id="navbar-open-icon"></i>
            <i class="fas fa-chevron-up hvr-float hidden" id="navbar-close-icon"></i>
        </button>

        <!-- Mobile Nav, collapsible using Toggler -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <!-- link to product management for admin user -->
                <li>
                    <a href="" class="btn btn-sm btn-info rounded-0 mr-4">Product Admin <i
                            class="fas fa-user-cog"></i></a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'account_logout' %}" class="btn btn-sm btn-dark rounded-0 mr-5"> Logout <i
                            class="fas fa-sign-out-alt"></i></a>
                </li>

                {% else %}
                <li>
                    <a href="{% url 'account_signup' %}" class="btn btn-sm btn-dark rounded-0 mr-2">Register <i
                            class="far fa-user"></i></a>
                </li>
                <li>
                    <a href="{% url 'account_login' %}" class="btn btn-sm btn-dark rounded-0 mr-5">Login <i
                            class="fas fa-sign-in-alt"></i></a>
                </li>

                {% endif %}
                <!-- cart total -->
                <li>
                    <a href="" id="cart-total" class="btn btn-secondary mr-5">
                        <i class="fas fa-shopping-cart"></i>
                        <span>
                            {% if grand_total %}
                            € {{ grand_total|floatformat:2 }}
                            {% else %}
                            € 0.00
                            {% endif %}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- product categories and sorting -->
    <div class="row bg-black d-flex justify-content-center pt-1 pb-1">
        <a class="text-uppercase" href="{% url 'products' %}">All Products</a>
        <a class="text-uppercase" href="">Cameras</a>
        <a class="text-uppercase" href="">Phones</a>
        <a class="text-uppercase" href="">Tablets</a>
    </div>


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
</body>

</html>