{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <row>
        <!-- Search and sort container-->
        <div class="box-element pt-3 pb-3">
            <div class="row">

                <!-- Search query box -->
                <div class="col-sm">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group  mt-1 mb-1">
                            <input class="form-control rounded-0" type="text" name="q"
                                placeholder="Search products">
                            <div class="input-group-append">
                                <button class="form-control btn btn-success ounded-right" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- "Sort By" button -->
                <div class="col-sm">
                    <div class="sort-select-wrapper w-100 mt-1 mb-1">
                        <select id="sort-selector" class="form-control rounded-0">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}><i class="fas fa-th-list"></i> Sort products
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </row>

    <!-- Alert telling user which category they are viewing -->
    <div class="alert small alert-light text-center mt-1 mb-0" role="alert">
        <span class="text-muted mt-3 text-center text-md-left">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
            {% endif %}
            {{ products|length }} Results {% if search_term %} found for
            <strong>"{{ search_term }}"</strong>{% endif %}
        </span>
        {% if current_categories %}

        | Displaying products in {% for c in current_categories %}
        <a class="btn btn-xs btn-light" href="{% url 'products' %}?category={{ c.name }}">
            <i class="fas fa-tag mr-1"></i> {{ c.name }}
        </a>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Product entries; each links to the relevant individual product_page -->
    <div class="row">
        {% for product in products %}
        <a href="{% url 'product_page' product.id %}" class="col-lg-4 product-card">
            <div class="box-element">
                <div class="text-center">

                    <!-- Product name -->
                    {{ product.name }}

                    <!-- Product image -->
                    <img class="thumbnail mt-1 mb-1" src="{{ product.imageURL }}" alt="{{ product.name }}"
                        onerror="this.onerror=null; this.src='{% static 'images/noimage.png' %}'">

                    <!-- Product rating -->
                    <small class="text-muted">Product Rating: <i
                            class="fas fa-star mr-1 text-secondary"></i>{{ product.rating }} / 5</small>

                    <hr class="w-75">

                    <!-- Product price -->
                    <div class="clearfix">
                        <h5 class="product-price ml-5"><strong>
                                <span class="small">€</span> {{product.price|floatformat:2}}
                            </strong></h4>

                            <!-- Add to cart button -->
                            <button data-product="{{product.id}}" data-action="add"
                                class="btn btn-sm btn-outline-success add-to-cart mr-2 rounded-0">Add to
                                Cart <i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<a href="#" class="btt-link rounded-circle">
    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
</a>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- "Back to top ^ " button-->
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

<!-- Product sort selector (Price, Rating etc.)-->
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}