{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <row>
        <!-- "Back" button, redirects browser to previous page-->
        <button class="btn btn-light rounded-0 mt-2" onclick="goBack()"><i class="fas fa-chevron-left mr-2"></i>
            Back</button>
    </row>

    <!-- Product image -->
    <div class="row box-element ml-1 mr-1">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                <img class="card-img-top img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <!-- Product name -->
                <p class="mb-0">{{ product.name }}</p>

                <!-- Price -->
                <p class="lead mt-3 mb-0 text-left font-weight-bold">
                    € {{ product.price }}
                    <!-- Product category -->
                    {% if product.category %}
                    <span class="small mt-1 mb-0">
                        <a class="btn btn-xs btn-light ml-5"
                            href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i> {{ product.category }}
                        </a>
                    </span>
                    {% endif %}
                </p>

                <!-- Rating -->
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}

                <!-- Product description -->
                <p class="mt-5">{{ product.description }}</p>

                <!-- "Add to Cart" button-->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST" id="add-to-cart-form">
                    {% csrf_token %}
                    <div class="form-row mt-5">
                        <div class="col-5">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-secondary rounded-left" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-secondary rounded-right"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="submit" form="add-to-cart-form" class="btn btn-success rounded-0 w-100">
                                Add to Cart <i class="fas fa-cart-plus"></i>
                            </button>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });
</script>
{% endblock %}