{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <row>
        <!-- Search and sort container-->
        <div class="box-element pt-3 pb-3">
            <div class="row">
                <!-- Search query box -->
                <div class="col-sm">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group  mt-1 mb-1">
                            <input class="form-control border border-black rounded-0" type="text" name="q"
                                placeholder="Search products">
                            <div class="input-group-append">
                                <button class="form-control btn btn-success rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- "Sort By" button -->
                <div class="col-sm">
                    <div class="dropdown">
                        <button class="btn btn-light rounded-0 dropdown-toggle w-100 mt-1 mb-1" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user"></i> Sort products
                        </button>
                        <div class="dropdown-menu w-100 rounded-0" aria-labelledby="dropdownMenuButton">
                            <a href="{% url 'products' %}" class="dropdown-item"><i class="fas fa-th-list mr-3"></i> All Products</a>
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item"><i class="fas fa-sort-amount-up mr-3"></i> Price (Low to High)</a>
                            <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item"><i class="fas fa-sort-amount-down mr-3"></i> Price (High to Low)</a>
                            <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item"><i class="fas fa-star mr-3"></i> Rating</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>

    <!-- Product entries; each links to the relevant individual product_page -->
    <div class="row">
        {% for product in products %}
        <a href="{% url 'product_page' product.id %}" class="col-lg-4 product-card">
            <div class="box-element">
                <div class="text-center">
                    <!-- Product name -->
                    {{ product.name }}
                    <!-- Product category -->
                    {{ product.category }}
                    <!-- Product image -->
                    <img class="thumbnail" src="{{ product.imageURL }}" alt="{{ product.name }}"
                        onerror="this.onerror=null; this.src='{% static 'images/noimage.png' %}'">
                    <!-- Product rating -->
                    <small class="text-muted">Product Rating: <i
                            class="fas fa-star mr-1 text-secondary"></i>{{ product.rating }} / 5</small>
                    <hr class="w-75">
                    <div class="clearfix">
                        <!-- Product price -->
                        <h5 class="product-price ml-5"><strong>
                                € {{product.price|floatformat:2}}
                            </strong></h4>
                            <!-- Add to cart button -->
                            <button data-product="{{product.id}}" data-action="add"
                                class="btn btn-sm btn-outline-success add-to-cart mr-2 rounded-0">Add to
                                Cart <i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}